
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.dll
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
GhostCore/lib/
GhostCore/GeneratedFiles

GhostCore/data/
GhostCore/fftw-3.3
GhostCore/GhostCore.*